* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

/* .header{
    background-color: map-get($colors, "color-secundario");

    &__nav__lista{
        list-style: none;
    }

    &__nav__lista__item{
        color: white;

        a{
            text-decoration: line-through;
        
            &:hover{
                color: blue;
            }
        }


    }
} */