/* reseteo */
* {
    margin: 0;
    padding: 0;
}

/* ---------------- PAGINA INDEX ---------------------------------------------------------------*/

/* INICIO: APLICANDO GRID y FLEX */
.layout{
    display: grid;
    grid-template-areas: 
        'header header header header'
        'main main main main'
        'footer footer footer footer'
    ;
}

.layout__header{
    grid-area: header;
}

.layout__main{
    grid-area: main;
}

.layout__footer{
    grid-area: footer;
}

/* FINAL: APLICANDO GRID y FLEX */

.encabezado {
    background-color: rgb(32, 90, 178);
    background-image: url(./images/encabezado_50.jpg);
    position: sticky;
    top: 0px;
    height: calc(115px + 2vh);/* 15vh; */
    text-align: center;
    z-index: 100000;
}

.encabezado__menu__item {
    display: inline-block;
    margin: 5px;
    z-index: 100000;
}

.encabezado__menu__item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    z-index: 100000;
}

.encabezado__menu {
    list-style: none;
    margin: 0 auto;
    width: fit-content;
    z-index: 100000;
}

.encabezado__titulo {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    transform: translateY(-10px);
    z-index: 100000;
}

.itemSubmenu {
    position: relative;
    z-index: 100000;
}

.encabezado__lista__submenu {
    background-color: lightseagreen;
    list-style: none;
    position: absolute;
    top: 100%;
    display: none;
    text-transform: uppercase;
    text-align: left;
    z-index: 100000;
}

.itemSubmenu:hover .encabezado__lista__submenu {
    display: block;
    z-index: 100000;
}

.bodymain {
    background-color: lightseagreen;
    background-image: url(./images/fondogina.png);
    background-size: contain;
    width: 100%;
/*     height: fit-content; */
}

.bodymain__buscar {
    margin: 0 auto;
    width: fit-content;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodymain__buscar__input {
    height: 50px;
    border-radius: 100px;
    font-size: 16px;
/*     margin-top: -1px;
    vertical-align: middle; */
    padding-left: 10px;
    width: 80vw;
}

/* .bodymain__buscar__boton {
    height: 50px;
    border-radius: 6px;
    padding: 5px;
    margin-top: 18px;
} */

.bodymain__buscar__position {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.bodymain__novedades {
    padding-top: 5px;
    width: 100%;
    text-align: center;
}

.tablanovedades {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    z-index: 0;
}

.tablanovedades__fila{
    width: 100%;
    height: 50%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    flex-direction: row; /* entonces el eje principal es el horizontal */
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;

}


.grilla__item{
/*     background-color: aquamarine;
    border: solid 1px rgb(47, 95, 79);
    border-radius: 6px; */
    /* border: solid 1px rgb(47, 95, 79); */
    /* background-color: white; *//* #81DBFE; */
    border-radius: 7px;
    width: 15rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    flex-flow: column;
    z-index: 0;
}

/* .tablanovedades__tabla {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
} */

.grilla__item img {
    border-radius: 7px;
    object-fit: contain;
}

.footerpage {
    background-color: lightseagreen;
    background-image: url(./images/encabezado_50.jpg);
    text-align: center;
    height: 17vh;
}

.footerpage__redes {
    list-style: none;
    margin: 0 auto;
    width: fit-content;
}

.footerpage__redes__item {
    display: inline-block;
    margin: 16px;
}

/*  ------------------- PAGINA MAP --------------------------------------------------------------------*/

/* TO-DO me falta resolver para la pantalla de un celular en 320px de ancho como queda el mapa y la lista de filtro */

/* INICIO: APLICANDO GRID y FLEX */
.layout__mapa{
    display: grid;
    grid-template-areas: 
        'header header header header'
        'main main main aside'
        'footer footer footer footer'
    ;
}

.layout__mapa__header{
    grid-area: header;
}

.layout__mapa__main{
    grid-area: main;
    background-size: cover;
}

.layout__mapa__aside{
    grid-area: aside;
/*     border: solid 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}

.layout__mapa__footer{
    grid-area: footer;
}

/* FINAL: APLICANDO GRID y FLEX */

.bodymain__mapa {
/*     font-family: 'lato';
    list-style: none;
    text-decoration: none; */
/*     position: relative; */
/*     border: solid 1px black; */
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodymain__mapa__buscar{
    margin: 0 auto;
    width: 90%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.bodymain__buscar__input__mapa {
    height: 50px;
    border-radius: 100px; 
    font-size: 16px;
    margin-top: 15px;
    vertical-align: middle;
    padding-left: 10px;
    width: 100%;

}

.bodymain__mapa__source {
/*     position: absolute;
    top: 10%;
    left: 5%; */
    overflow: hidden;
    width: 95%;
    height: 40vh;

    border-radius: 10px;
/*     transform: translateZ(0px); */
    border: 3px solid #eee;
    /* border: solid 1px black; */
}

.bodymain__mapa__source__iframe{
    width: 100%;
    height: 100%;
}

/* .wrapper {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(100%, -38.5%);

    border: solid 1px black;
} */

.mainMenu {
    width: 30vw;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.mainMenu a {
    text-decoration: none;
}

.item {
    border-top: 1px solid #ef584a;
    overflow: hidden;
}

.btn {
    display: block;
    padding: 15px 20px;
    background-color: #ff6f61;
    color: #fff;
    position: relative;

}

.btn:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #ff6f61;
    right: 15px;
    bottom: -10px;
    z-index: 9;

}

.btn i {
    margin-right: 10px;
}

.subMenu {
    background: #273057;
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}

.subMenu a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #394c7f;
    position: relative;
    text-decoration: none;
}

.subMenu a:before {
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}

.subMenu a:hover:before {
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top: 0;
    opacity: 1;
    /* background-color: #d8d824; */
    border-top: 24px solid transparent;
    border-left: 11px solid #fcdc29;
    border-bottom: 24px solid transparent;
}

.subMenu a:after {
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}

.subMenu a:hover:after {
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top: 0;
    opacity: 1;
    /*     background-color: #d8d824; */
    border-top: 24px solid transparent;
    border-right: 11px solid #fcdc29;
    border-bottom: 24px solid transparent;
}

.subMenu a:hover {
    background: #273057;
    background: -moz-linear-gradient(top, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
    background: -webkit-linear-gradient(top, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
    background: linear-gradient(to bottom, #273057 0%, #273057 50%, #394c7f 51%, #394c7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#273057', endColorstr='#394c7f', GradientType=0);
    transition: all 0.3s;
    border-bottom: 1px solid #394c7f;
}

.subMenu a:last-child {
    border: none;
}

.item:target .subMenu {
    max-height: 10em;
}

/* --------------- PAGINA SEARCH ----------------------------------------------------------------------------- */

.bodymain__acciones ul {
    list-style: none;
    padding: 10px 5px;
}

.bodymain__acciones div {
    width: fit-content;
    margin: 0 auto;
}

.bodymain__acciones ul li {
    list-style: none;
    padding: 10px 5px;
}

.bodymain__acciones ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.bodymain__acciones__lista:hover .bodymain__acciones__lista__item {
    color: white;
}

.input { /* también se aplica en la página profile */
    border-radius: 7px;
    font-size: 1em;
    padding: 5px 5px;
    margin: 5px 5px;
}

.submitBtn { /* también se aplica en la página profile */
    border-radius: 7px;
    font-size: 1em;
    padding: 10px 5px;
    margin: 10px 5px;
}

.bodymain__novedades__form__registro { /* también se aplica en la página profile */
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

/* --------------- PAGINA WHO WE ARE ------------------------------------------------------------------------ */

.bodymain__somos h2 {
    padding: 5px 10px;
}

.bodymain__somos p {
    padding: 5px 10px;
}

.centrado {
    width: fit-content;
    margin: 0 auto;
}

.texto__mensaje{
    max-width: 197px;
    resize: none;
}

/* ---------------------------------- PAGINA UNDER CONSTRUCTION ----------------------------------------------*/

.underConstruction {
    text-align: center;
}

.underConstruction img {
    width: 80vw;
    margin-top: 20px;
    max-width: 30em;
}


/* ---------------------------------- MEDIAQUERIES -----------------------------------------------------------*/

@media screen and (max-width: 320px) {

/*     .visibility320 {
        display: none;
    } */

/*     .principal{
        color: white;
    } */

    .displayOnOff{
        display: none;
    }
}


@media screen and (max-width: 480px) {

    .layout__mapa{
        grid-template-areas: 
            'header header header header'
            'main main main main'
            'aside aside aside aside'
            'footer footer footer footer'
        ;
    }

    .mainMenu {
        width: 60vw;
        margin: 10px auto;
    }


}


@media screen and (min-height: 900px) {


    .encabezado{
        background-image: url(./images/encabezado_short.jpg);
    }

    .footerpage{
        background-image: url(./images/encabezado_short.jpg);
    }


}

