/* $color-principal: #53dd13;
$color-secundario: rgb(212, 71, 255); */

$pantalla-completa: 100%;
$media-pantalla: 50%;

$margin-auto: 0 auto;

/* mapas de valores */

$colors: (
    "color-principal": lightseagreen,
    "color-secundario": #ef584a,
    "color-alert": red
);

@mixin bodymain__buscar ($width, $top) {
  margin: $margin-auto;
  width: $width;
  padding-top: $top;
  display: flex;
  flex-direction: column;
}